<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title> {{judul}} </title>
  </head>
  <body>
    <div class="container py-4">
      <h1>{{judul}}</h1>
      <p>Selamat datang di {{pageName}} dengan kontirbutor {{kontributor}}</p>
      <p>Daftar mahasiswa</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nama</th>
            <th>NIM</th>
            <th>Program Studi</th>
          </tr>
        </thead>
        <tbody>
          {% for i in Mahasiswa %}
          <tr>
            <td>{{i.nama}}</td>
            <td>{{i.nim}}</td>
            <td>{{i.ps}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><a href="/">Kembali ke home</a></p>
    </div>
  </body>
</html>